<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>All Entries</title>
</head>
<body>

<h2 class="text-center w-100 p-3 font-weight-light">Previous diary entries:</h2><br>
<table class="text-left mx-auto w-75 p-3 font-weight-light">
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${allentries}">
        <td class="text-left" th:text="${entry.title}">Title</td>
        <td class="text-left" th:text="${entry.publishedOn}">Published</td>
        <td>

                <button th:onclick="|deleteSpecificEntry('${entry.id}')|">Delete</button>

            <a th:href="@{/edit-view/{id}(id=${entry.id})}">  <button>View and edit</button> </a>

        </td>
    </tr>


    </td>
    </tr>
    </tbody>
</table><br>

<div class="text-center w-100 p-3 font-weight-light">
    <form th:action="@{/add-entry}">
    <button class="btn btn-outline-dark my-2 my-sm-0 nav-item" type="submit">Add an entry</button>
    </form>
</div>


</body>
<script>
    function deleteSpecificEntry(id){

        let url = "/delete/" + id;
        document.location.reload(true);

        fetch(url, {
            method : "DELETE",
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }</script>

</html>